---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout
  title="Sonari Distribution: Delivering High-Quality Natural Products & Innovative Solutions"
  description="At Sonari Distribution, we're committed to delivering excellence. Our expertise lies in providing high-quality natural products paired with innovative solutions that set us apart. Explore our range and experience the difference with Sonari."
>
  <main class="">
    <Hero />
    <p>asd</p>
  </main>
</Layout>
