---
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/logo-light.webp" />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body>
    <Navbar client:load />
    <slot />
    <Footer />
    <style is:global>
      body {
        font-family: "Onest Variable", sans-serif;
        background-color: rgb(255, 250, 250);
      }

      p {
        font-weight: 400;
      }
    </style>
  </body>
</html>
